<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dotjosh.DayZCommander.Deploy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dotjosh.DayZCommander.Deploy.Properties.Settings>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=dayzcommander;AccountKey=5UA/25vAcXgmgJQJa5FVxXTI4SbDUTIfHTe+Oi9Wdlv0j26XwikdMw2HAZoHoalAmki5pXxDLzAF0beI8BkaxA==</value>
            </setting>
            <setting name="LocalDeployDirectory" serializeAs="String">
                <value>C:\Users\jschwartzberg\Desktop\DayZCommanderRelease</value>
            </setting>
        </Dotjosh.DayZCommander.Deploy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
